body {
    background-image:url("../images/light-grey-terrazzo.png");
    
}

.header {
    background-color: #ffffff;
    border-color: #cccccc;
    width: 960px;
    margin-right: auto;
    margin-left: auto;
    
            
}

h1 {
    color: #ffffff;
    font-family: 'Georgia', 'Times', 'Times New Roman', 'serif';
    padding: 20px;
    width: 255px;
    float: left;
    background-color: #4aaaa5;
        
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #ffffff;
}

li{
    float: right;

}

li a {
    display: block;
    color:#777777;
    padding: 15px;
    text-decoration: none;
}

.container {
    width: 960px;
    margin: auto;
    color: #777777;
    font-family: 'Arial', 'Helvetica Neue', 'Helvetica', 'sans-serif';
    background-color: #ffffff;
    border-color: #dddddd;
    border-width: 20px;
    line-height: 2;
    clear: both;
    padding-top: 10px;
    
}

p {
    margin: 20px;
}


hr {
    margin: 20px;
}

#bio-pic {
    float: left;
    margin: 20px;
}


h2 {
    color: #4aaaa5;
    font-family: 'Georgia', 'Times', 'Times New Roman', 'serif';
    margin: 20px;
}

.footer-border {
    width: 100%;
    height: 60px;
    position: fixed;
    bottom: 0;
    background-color: #4aaaa5;
}

.footer-content {
    font-family: 'Georgia', 'Times', 'Times New Roman', 'serif';
    color: #ffffff;
    text-align: center;
    font-size: 10px;
    position: absolute;
    /* bottom: 5px; */
    left: 50%;
    
    
}

.footer {
    margin: 0px;
    background-color: #666666;
    position: fixed;
    width: 100%;
    text-align: center;
    height: 50px;
    border-color: #4aaaa5;
    border-width: 5px;
    bottom: 0;

}